DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=your_password_here
DATABASE_HOST=localhost
DATABASE_PORT=5432
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your-app-password
